<header>
    <h1>Yo también tengo algunas ideas</h1>
</header>
<section >
    <p>Aquí hay algunas cosas que se me han ocurrido y me gustaría hacer</p>
    <article>
        <dl>
            <dt><a href="/hackernotes">Hackernotes</a></dt>
            <dd>Poder tomar notas <em>rápido</em> y desde <em>cualquier lado</em></dd>
            
            <dt><a href="/codewar">Codewar</a></dt>
            <dd>Dejar <em>retos de código</em> para una fecha y que la gente los resuelva y gane cosas</dd>
            
            <dt><a href="/mailmaniac">Mailmaniac</a></dt>
            <dd>
            Poder mandarle emails a una app y que se hagan cosas
            </dd>
        </dl>
    </article>
</section>
<aside>
    <p>Mi grupo se llama <em>WaterGazers</em> y los miembros somos</p>
    <ul>
        <li>Luis Felipe</li>
        <li>FELIPE LIPE</li>
        <li>lfborjas</li>
    </ul>
</aside>
